body {
	background-color: white;
	font-family: 'Century Gothic', sans-serif;
}

[role="main"] {
	min-height: 220px;
}

.page-heading {
  text-align: center;
}

.js .image-upload #field-image-upload {
  opacity: 1;
}

#header_logos {
	padding: 50px 0px;  /*Se cambio para mover el logo un poco a la derecha*/
	background-image: url("/img/header-background.jpg");
	background-position: left center;
	background-repeat: no-repeat;
	background-color: #FFFFFF; /*Se cambio de blanco a naranja*/
	background-size: cover;
	width: 100%;
}

.account-masthead .account ul li a {
	color: #fff;
}

.masthead .container {
	padding-top: 10px;
	padding-bottom: 9px;
}

.masthead {
	min-height: 40px;
  background: #999999; 
}

.masthead .nav-collapse {
	padding-top:bor 0px;
}

.search-form .heading {
	background-color: #ea6f20;
}

.box .search-form {
	background-color: #ef7820 !important;
}

.tags {
	background-color: #586175 !important;
}

/* Home */

.header-image .logo {
	display: none;
}

.hero-first {
	background-image: none;
	padding: 25px 0; /*Aumentado entre el encabezado y el cuerpo del texto*/
}

.hero-second {
	background: #EEE url("/img/background.png") repeat scroll 0% 0%;
	font-size: 16px;
	position: relative;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
}

.homepage .hero > .container {
	background-repeat: no-repeat;
	background-position: right center;
}
.homepage .hero > .container h1 {
	text-transform: uppercase;
	font-size: 28px;
	line-height: 1;
	margin-bottom: 20px;
	margin-top: 15;
}
.homepage .hero > .container h1 span {
	color: #EB6F1F;
}
.homepage .hero > .container p {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 0.9em;
}
.homepage .hero > .container p:last-of-type {
	margin-bottom: 20px;
}
.homepage .hero > .container .groups {
	height: 130px;
	overflow: hidden;
  margin-bottom: 20px;
  margin-left: 0px;
}
.homepage .hero > .container .groups li {
	display: block;
	float: left;
	text-align: center;
	width: 144px;
	overflow: hidden;
}
.homepage .hero > .container .groups li a {
	display: block;
	text-decoration: none;
	color: #EB6F1F;
	height: 120px;
	text-transform: uppercase;
	font-weight: normal;
}
.homepage .hero > .container .groups li a img {
	height: 109px; /* Cambio de tamaño para que solo se vea la imagen*/
	margin-top: 10px;
	margin-bottom: 5px;
}
.homepage .hero > .container .groups li a:hover {
	background-color: rgba(255, 255, 255, 0.95);
}
.homepage .hero > .container .groups li.more {
	width: auto;
	height: 120px;
}
.homepage .hero > .container .groups li.more a {
	padding: 50px 10px 0 10px;
	line-height: 19px;
	text-transform: capitalize;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #666;
}
.homepage .hero > .container .groups li.more a:hover {
	color: #ef771f;
}
.homepage .intro {
	font-size: 16px;
	padding: 30px 15px 15px 15px;
}
.homepage .latest > div {
	padding: 0 15px 15px 15px;
	box-sizing: border-box;
}
.homepage .latest > div h2 {
	text-transform: uppercase;
	margin-top: 0;
	padding-bottom: 10px;
	border-bottom: solid 2px #eaeaeb;
}
.homepage .latest > div a {
	color: #d64c01;
}
.homepage .latest > div dl dt {
	font-size: 16px;
	margin-bottom: 4px;
}
.homepage .latest > div dl dd {
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	border-bottom: solid 2px #eaeaeb;
}
.homepage .stats ul li {
	width: 30%;
	text-align: center;
	margin-left: 3%;
	text-transform: lowercase;
}
.homepage .module-search {
	height: 175px;
}
.box.stats {
	height: 185px;
}

/* Footer */

footer{
	background-color: #acb6b9; /* Quité la imagen de fondo /img/logo-footer.jpg*/
	background-position:50% 25%;
	background-repeat:no-repeat;
	padding:30px 0 0 0
}

footer #site_links{
	margin-bottom:20px
}

footer #site_links .nav-list{
	padding:20px 0
}

footer #site_links .nav-list li a{
	border-bottom:1px solid #dce0e0;
	font-size:.9em;
	color:#ffffff;
	display:block;
	margin:0;
	padding:3px 0
}

footer #site_links .nav-list li a:hover{
	background-color:transparent;
	text-decoration:none;
	font-weight: bold;
}

footer #site_links .nav-list li.active a{
	color:#ea6e1f;
	background-color:#999999
}

footer .footer_title{
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	font-family:Century Gothic, sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:inherit
}

footer #banners{
	padding-bottom:30px
}

footer #banners .item{
	margin-top:15px;
	margin-bottom:10px;
	text-align:left;
}

footer #banners .item img{
	border:1px solid #ccc;
	margin-bottom:5px
}

footer #copyright{
	text-align:left;
	padding:10px 0;
	border-top:1px solid #ededed
}

footer #copyright .copyright{
	float:left;
	font-size:12px;
	color: #FFF
}

footer #copyright .powered_by{
	float:right;
	font-size:12px;
	color: #FFF
}

footer .logo{
	clear:both;
	text-align: center;
}

footer .social-buttons{
	text-align: center;
}

@media (min-width: 1200px) {
       .homepage .hero > .container .groups {
               width: 1050px;

       }
}



