<div class="hero hero-first">
    <div class="container">
      <h1 class="page-heading">Datos Abiertos <span>El Carchi</span></h1>
      <img src="/img/banner_home.png" alt=" Este es el repositorio de datos abiertos para el gobierno de la Prefectura de Carchi, Ecuador. Proporciona una forma sencilla de buscar, acceder y utilizar grupos de datos públicos.">
      <ul class="groups">
        <li>
          <a href="/group/demograficos" title="Ver Población y Demografía">
            <img src="/img/logos/groups/demografia.png" alt="Población y Demografía">
            <p>
              Población y Demografía
            </p>
          </a>
        </li>
        <li>
          <a href="/group/economia" title="Ver Economía Laboral">
            <img src="/img/logos/groups/economia.png" alt="Actividad Economía Laboral">
            <p>
              Economía Laboral 
            </p>
          </a>
        </li>
        <li>
          <a href="/group/educacion" title="Ver Turismo">
            <img src="/img/logos/groups/turismo.png" alt="Turismo">
            <p>
              Turismo
            </p>
          </a>
        </li>
        <li>
          <a href="/group/infraestructura-y-obra-publica" title="Ver Infraestructura Vial">
            <img src="/img/logos/groups/infraestructura.png" alt="Infraestructura Vial">
            <p>
              Infraestructura Vial
            </p>
          </a>
        </li>
        <li>
          <a href="/group/medio-ambiente" title="Ver Medioambiente">
            <img src="/img/logos/groups/medioambiente.png" alt="Medioambiente">
            <p>
              Medioambiente
            </p>
          </a>
        </li>
        <li>
          <a href="/group/sociales" title="Ver Sociales">
            <img src="/img/logos/groups/sociales.png" alt="Estadísticas Sociales">
            <p>
              Estadísticas Sociales
            </p>
          </a>
        </li>
      <li class="more"><a title="ver más" href="/group"><i class="icon-plus-sign"></i><br>Ver más</a></li>
      </ul>
    </div>
</div>

<div role="main" class="hero-second">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
      <div class="span6 col2">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
	{#
		{% block promoted %}
		  {% snippet 'home/snippets/promoted.html' %}
		{% endblock %}
	#}
      </div>
    </div>
  </div>
</div>

<div class="hero hero-first">
  <div class="container">
    <div class="span12 col1">
      {% snippet 'home/snippets/graph.html' %} 
    </div>
  </div>
</div>

<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col2">
        {% block featured_organization %}
          {% snippet 'home/snippets/featured_organization.html' %}
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
