<div class="hero hero-first">
    <div class="container">
      <h1 class="page-heading">Datos Abiertos <span>El Carchi</span></h1>
      <p>
        Este es el repositorio de datos abiertos para el gobierno de la Prefectura de Carchi, Ecuador. Proporciona una forma sencilla de buscar, acceder y utilizar grupos de datos públicos. 
      </p>
      <ul class="groups">
        <li>
          <a href="/group/demograficos" title="Ver Demográficos">
            <img src="https://odata.alabs.org/uploads/group/2015-07-28-171151.451997searching43.png" alt="Demográficos">
            <p>
              Demográficos
            </p>
          </a>
        </li>
        <li>
          <a href="/group/economia" title="Ver Actividad Económica">
            <img src="https://odata.alabs.org/uploads/group/2015-07-28-164216.746972dollars45.png" alt="Actividad Económica">
            <p>
              Actividad Económica
            </p>
          </a>
        </li>
        <li>
          <a href="/group/educacion" title="Ver Educación">
            <img src="https://odata.alabs.org/uploads/group/2015-07-28-171052.069945graduation10.png" alt="Educación">
            <p>
              Educación
            </p>
          </a>
        </li>
        <li>
          <a href="/group/infraestructura-y-obra-publica" title="Ver Infraestructura y Obra Pública">
            <img src="https://odata.alabs.org/uploads/group/2015-07-28-164342.138499construction14.png" alt="Infraestructura y Obra Pública">
            <p>
              Infraestructura y Obra Pública
            </p>
          </a>
        </li>
        <li>
          <a href="/group/medio-ambiente" title="Ver Medio Ambiente">
            <img src="https://odata.alabs.org/uploads/group/2015-07-28-171111.153705animals-allowed.png" alt="Medio Ambiente">
            <p>
              Medio Ambiente
            </p>
          </a>
        </li>
        <li>
          <a href="/group/sociales" title="Ver Sociales">
            <img src="https://odata.alabs.org/uploads/group/2015-07-28-171138.137146crowd.png" alt="Sociales">
            <p>
              Sociales
            </p>
          </a>
        </li>
      <li class="more"><a title="ver más" href="/group"><i class="icon-plus-sign"></i><br>Ver más</a></li>
      </ul>
    </div>
</div>

<div role="main" class="hero-second">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
      <div class="span6 col2">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
	{#
		{% block promoted %}
		  {% snippet 'home/snippets/promoted.html' %}
		{% endblock %}
	#}
      </div>
    </div>
  </div>
</div>

<div class="hero hero-first">
  <div class="container">
    <div class="span12 col1">
      {% snippet 'home/snippets/graph.html' %} 
    </div>
  </div>
</div>

<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col2">
        {% block featured_organization %}
          {% snippet 'home/snippets/featured_organization.html' %}
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
