<p>Open Data El Carchi es la plataforma de datos abiertos de la <a href="http://carchi.gob.ec/">Prefectura de el Carchi</a>, basada en <a href="http://ckan.org/">CKAN</a> (plataforma libre de datos abiertos, líder a nivel mundial).</p>

<p>La Prefectura de el Carchi ofrece a través de esta plataforma un espacio para publicar datos propios y de otras instituciones, de manera abierta, libre y gratuita.</p>

<p>CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br />
Tour por CKAN: <a href="http://ckan.org/tour/">http://ckan.org/tour/</a><br />
Funcionalidades de CKAN: <a href="http://ckan.org/features/">http://ckan.org/features/</a></p>
