<!--
https://datosabiertos.carchi.gob.ec/dataset/poblacioncarchi
https://datosabiertos.carchi.gob.ec/dataset/actividades-desarrolladas-por-la-casa-de-la-juventud-a-julio-2015
https://datosabiertos.carchi.gob.ec/dataset/datos-sobre-vivienda
https://datosabiertos.carchi.gob.ec/dataset/uso-del-agua-en-la-provincia-del-carchi
https://datosabiertos.carchi.gob.ec/dataset/entorno-natural
https://datosabiertos.carchi.gob.ec/dataset/datos-sobre-vivienda
-->

<div class="row hidden-phone">
  <div class="span12">
    <div class="box">
      <header class="module-heading">
        <h3>Visualización de datos</h3>
      </header>
      <div class="module-content" style="height: 900px;">
        <div id="js-graph-1" style="width:60%; height: 300px; float: left;"></div>
        <div id="js-graph-2" style="width:40%; height: 300px; float: left;"></div>
        <div id="js-graph-3" style="width:100%; height: 300px; float: left;"></div>
        <div id="js-graph-7" style="width:50%; height: 300px; float: left;"></div>
        <div id="js-graph-4" style="width:50%; height: 300px; float: left;"></div>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="/js/google_charts.js"></script>
      </div>
    </div>
  </div>
</div>
