<footer>
  <div id="site_links" class="container donotprint">
    <div class="row-fluid">
      <div class="span3">
        <h2 class="footer_title">EL CARCHI</h2>
        <div class="row-fluid">
          <ul class="nav nav-list span6">
            <li><a href="/dataset">Conjunto de datos</a></li>
            <li><a href="/organization">Departamentos</a></li>
            <li><a href="/groups">Grupos</a></li>
          </ul>
          <ul class="nav nav-list span6">
            <!-- <li><a href="#" rel="external">Gure bloga</a></li> -->
          </ul>
        </div>
      </div>
      <div class="span3">
        <h2 class="footer_title">DEPARTAMENTOS</h2>  
        <ul class="nav nav-list">
        {% set organizations = h.carchi_theme_all_organizations() %}
        {% for org in organizations %}
          {% set truncate=truncate or 0 %}
          {% set truncate_title = truncate_title or 0 %}
          {% set title = org.title or org.name %}
          <li>
            <a href="{{ h.url_for(controller='organization', action='read', id=org.name) }}">
                {{ org.title or org.name }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="span3">
        <h2 class="footer_title">GRUPOS</h2>  
        <ul class="nav nav-list">
        {% set groups = h.carchi_theme_all_groups() %}
        {% for group in groups %}
          {% set truncate=truncate or 0 %}
          {% set truncate_title = truncate_title or 0 %}
          {% set title = group.title or group.name %}
          <li>
            <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
                {{ group.title or group.name }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="span3">
        <h2 class="footer_title">QUÉ ES EL CARCHI</h2>
        <ul class="nav nav-list">
            <li><a href="http://carchi.gob.ec/index.php/privacy-policy">Política de privacidad</a></li>
            <li><a href="https://github.com/alabs/ckanext-carchi_theme">Código fuente</a></li>
        </ul>

        <a href="http://creativecommons.org/licenses/by/3.0/es/" rel="external"><img alt="Cc l by 30 es 88x31" src="/img/cc_l_by_30_es_88x31.png"></a>
      </div>
    </div>
  </div>

  <div id="banners" class="container donotprint">
    <div class="row-fluid">
      <div class="item span2">
        <a class="gida_en" href="http://gobiernoabierto.carchi.gob.ec/" rel="external"><img alt="Gobierno Abierto" src="/img/banner_gobiernoabierto.png" title="Gobierno Abierto">Gobierno Abierto</a>
      </div>
      <div class="item span2">
        <a class="gida_en" href="http://atencionciudadana.carchi.gob.ec/" rel="external"><img alt="Atención Ciudadana" src="/img/banner_atencionciudadana.png" title="Atención Ciudadana">Atención Ciudadana</a>
      </div>      
    </div>  
  </div>

  <div class="center container">
    <div id="copyright">
     2015 Prefectura del Carchi
    </div>  
    <div class="powered_by" style="text-align:right;">
	    Basado en <a href="http://ckan.org">CKAN</a>.<br>
      Adaptado y mantenido por <a href="http://www.aldhea.org/" target="_blank">Aldhea</a> y <a href="http://www.alabs.org/" target="_blank">aLabs </a>.
    </div>  
    <div class="logo">
      <img alt="Prefectura Carchi" src="/img/logo-footer.png">
    </div>  
    <div class="social-buttons" style="text-align: center;">
      <span class="fa-stack fa-1x">
        <a href="https://www.facebook.com/carchiprefectura" target="_blank">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-facebook fa-stack-1x" style="color: black;"></i>
        </a>
      </span>
      <span class="fa-stack fa-1x">
        <a href="https://twitter.com/GADCarchi" target="_blank">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-twitter fa-stack-1x" style="color: black;"></i>
        </a>
      </span>
      <span class="fa-stack fa-1x">
        <a href="https://www.youtube.com/user/CarchiProvincia" target="_blank">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-youtube fa-stack-1x" style="color: black;"></i>
        </a>
      </span>
   </div>

  </div>  
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67426802-2', 'auto');
    ga('send', 'pageview');

</script>
