
<style>
footer{
	background-image:url("https://ogov.alabs.org/assets/ej-gv-logo-footer-1656bb1bd4a2f62cd11d07cc8200211d.jpg");
	background-position:50% 25%;
	background-repeat:no-repeat;
	background-color:white;
	padding:30px 0 0 0
}

footer #site_links{
	margin-bottom:20px
}

footer #site_links .nav-list{
	padding:20px 0
}

footer #site_links .nav-list li a{
	border-bottom:1px solid #ddd;
	font-size:.9em;
	color:#008639;
	display:block;
	margin:0;
	padding:3px 0
}

footer #site_links .nav-list li a:hover{
	background-color:transparent;
	text-decoration:none;
	color:#ff3105
}

footer #site_links .nav-list li.active a{
	color:#008639;
	background-color:#eeeeee
}

footer .footer_title{
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:inherit
}

footer #banners{
	padding-bottom:30px
}

footer #banners .item{
	margin-top:15px;
	margin-bottom:10px;
	text-align:left
}

footer #banners .item img{
	border:1px solid #ccc;
	margin-bottom:5px
}

footer #copyright{
	text-align:center;
	padding:10px 0;
	border-top:1px solid #ededed
}

footer #copyright .copyright{
	float:left;
	font-size:12px
}

footer #copyright .powered_by{
	float:right;
	font-size:12px
}

footer #copyright .logo{
	clear:both
}

footer #copyright .logo span{
	display:none
}

footer #copyright .logo img{
	clear:both
}
</style>

<footer>
  <div id="site_links" class="container donotprint">
    <div class="row-fluid">
      <div class="span6">
        <h2 class="footer_title">El Carchi</h2>
        <div class="row-fluid">
          <ul class="nav nav-list span6">
            <li><a href="/es/proposals">Peticiones ciudadanas</a></li>
            <li><a href="/es/news">Noticias</a></li>
            <li><a href="https://ogov.alabs.org/es/events">Agenda</a></li>
            <li class="nav-header">RSS y Registro</li>
            <li><a href="https://ogov.alabs.org/es/site/feeds">RSS</a></li>
            <li><a href="/es/bulletin_subscriptions">Suscripción Boletín de noticias</a></li>
            <li><a href="https://ogov.alabs.org/es/journalists/new">Registro de periodistas</a></li>
            <li><a href="https://ogov.alabs.org/es/events/myfeed.ics">Suscripción a la agenda</a></li>
          </ul>
          <ul class="nav nav-list span6">
            <li class="nav-header">Vídeos y fotos</li>
            <li><a href="https://ogov.alabs.org/es/web_tv">Videos</a></li>
            <li class="indented"><a href="/es/web_tv/closed_captions">Videos subtitulados</a></li>
            <li><a href="https://ogov.alabs.org/es/gallery">Fotos</a></li>
            <li><a href="http://argazki.irekia.euskadi.net" rel="external">Open Argazki</a></li>
            <li class="nav-header">Redes Sociales</li>
            <li><a href="/es/site/snetworking">El Gobierno en las redes</a></li>
            <li><a href="http://entzumena.irekia.euskadi.net" rel="external">Actividad en las redes</a></li>
            <!-- <li><a href="#" rel="external">Gure bloga</a></li> -->
          </ul>
        </div>
      </div>
      <div class="span3">
        <h2 class="footer_title">Áreas</h2>  
        <ul class="nav nav-list">
            <li><a href="/es/areas/1-presidencia">Presidencia</a></li>
            <li><a href="/es/areas/2-educacion">Educación</a></li>
            <li><a href="/es/areas/3-prefectura">Prefectura</a></li>
            <li><a href="/es/areas/4-casa-juventud">Casa de la Juventud</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2 class="footer_title">Qué es El Carchi</h2>
        <ul class="nav nav-list">
            <li><a href="/es/site/page/about">El Carchi Prefectura del Carchi</a></li>
            <li><a href="/es/site/page/tos">Condiciones de uso</a></li>
            <li><a href="/es/site/page/privacy">Política de privacidad</a></li>
            <li><a href="/es/site/page/source_code">Código fuente</a></li>
        </ul>

        <a href="http://creativecommons.org/licenses/by/3.0/es/" rel="external"><img alt="Cc l by 30 es 88x31" src="https://ogov.alabs.org/assets/icons/cc_l_by_30_es_88x31-bd8f3d05013a5864286247a4dbb77aeb.png"></a>
      </div>
    </div>
  </div>

  <div id="copyright" class="container">
    <div class="copyright">
     2015 Prefectura del Carchi
    </div>  
    <div class="powered_by" style="text-align:right;">
	    Basado en <a href="http://open.irekia.net">Open Irekia</a>, Gobierno Vasco.<br>
	    Desarrollado y mantenido por <a href="http://www.aldhea.org/">Aldhea</a>.
    </div>  
    <div class="logo">
      <img alt="Gobierno Vasco compromiso con las personas" src="https://ogov.alabs.org/assets/logo-footer-cf4cf6f43fc8036975f1d58786691895.png">
    </div>  
  </div>  
</footer>
