<footer>
  <div id="site_links" class="container donotprint">
    <div class="row-fluid">
      <div class="span6">
        <h2 class="footer_title">El Carchi</h2>
        <div class="row-fluid">
          <ul class="nav nav-list span6">
            <li><a href="https://ogov.alabs.org/es/proposals">Peticiones ciudadanas</a></li>
            <li><a href="https://ogov.alabs.org/es/news">Noticias</a></li>
            <li><a href="https://ogov.alabs.org/es/events">Agenda</a></li>
            <li class="nav-header">RSS y Registro</li>
            <li><a href="https://ogov.alabs.org/es/site/feeds">RSS</a></li>
            <li><a href="https://ogov.alabs.org/es/bulletin_subscriptions">Suscripción Boletín de noticias</a></li>
            <li><a href="https://ogov.alabs.org/es/journalists/new">Registro de periodistas</a></li>
            <li><a href="https://ogov.alabs.org/es/events/myfeed.ics">Suscripción a la agenda</a></li>
          </ul>
          <ul class="nav nav-list span6">
            <li class="nav-header">Vídeos y fotos</li>
            <li><a href="https://ogov.alabs.org/es/web_tv">Videos</a></li>
            <li class="indented"><a href="https://ogov.alabs.org/es/web_tv/closed_captions">Videos subtitulados</a></li>
            <li><a href="https://ogov.alabs.org/es/gallery">Fotos</a></li>
            <li><a href="http://argazki.irekia.euskadi.net" rel="external">Open Argazki</a></li>
            <li class="nav-header">Redes Sociales</li>
            <li><a href="https://ogov.alabs.org/es/site/snetworking">El Gobierno en las redes</a></li>
            <li><a href="http://entzumena.irekia.euskadi.net" rel="external">Actividad en las redes</a></li>
            <!-- <li><a href="#" rel="external">Gure bloga</a></li> -->
          </ul>
        </div>
      </div>
      <div class="span3">
        <h2 class="footer_title">Áreas</h2>  
        <ul class="nav nav-list">
            <li><a href="https://ogov.alabs.org/es/areas/1-presidencia">Presidencia</a></li>
            <li><a href="https://ogov.alabs.org/es/areas/2-educacion">Educación</a></li>
            <li><a href="https://ogov.alabs.org/es/areas/3-prefectura">Prefectura</a></li>
            <li><a href="https://ogov.alabs.org/es/areas/4-casa-juventud">Casa de la Juventud</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2 class="footer_title">Qué es El Carchi</h2>
        <ul class="nav nav-list">
            <li><a href="https://ogov.alabs.org/es/site/page/about">El Carchi Prefectura del Carchi</a></li>
            <li><a href="https://ogov.alabs.org/es/site/page/tos">Condiciones de uso</a></li>
            <li><a href="https://ogov.alabs.org/es/site/page/privacy">Política de privacidad</a></li>
            <li><a href="https://ogov.alabs.org/es/site/page/source_code">Código fuente</a></li>
        </ul>

        <a href="http://creativecommons.org/licenses/by/3.0/es/" rel="external"><img alt="Cc l by 30 es 88x31" src="/cc_l_by_30_es_88x31.png"></a>
      </div>
    </div>
  </div>

  <div id="copyright" class="container">
    <div class="copyright">
     2015 Prefectura del Carchi
    </div>  
    <div class="powered_by" style="text-align:right;">
	    Basado en <a href="http://ckan.org">CKAN</a>.<br>
	    Desarrollado y mantenido por <a href="http://www.aldhea.org/">Aldhea</a>.
    </div>  
    <div class="logo">
      <img alt="Gobierno Vasco compromiso con las personas" src="/logo-footer.png">
    </div>  
  </div>  
</footer>
