{% ckan_extends %}

{% block header_wrapper %}
<style>

body {
    background-color: white;
}

#header_logos {
    padding: 20px 0px 5px;
    background-image: url("https://ogov.alabs.org//assets/header-background-2220aaac2f8a001b38679ceb2a7d67bd.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-color: white;
width: 1170px;
}

.pull-left {
    float: left;
}
</style>
        <div id="header_logos" class="container">
          <div class="row-fluid">
            <a class="logo pull-left" href="/?locale=es"><img alt="El Carchi logo" src="https://ogov.alabs.org/assets/logo-header-09a1bf294eed462cca025f06548333a5.png" style="width:200px;"></a>
          </div>
        </div>
	{{ super() }}
{% endblock %}
